.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #FFF8F3; */
  background-color: #FFF7F0;
  color: #333;
  line-height: 1.6;
}

/* === Responsive Utility === */

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
